extend ../layout/layout

block title
  title(translate="HOME_TITLE") 開放文化基金會 ocf.tw 首頁
block vars
  - nav_cls.index = 'highlight'

block content
  #index_left_container
      .ui.segment
        a(href="http://ocf.tw/zh-TW/join.html")
          img.ui.image(src='/imgs/g0vactionbanner-800.gif')

      .ui.three.connected.items
          a.item(target="_blank",href="/#{lang}/about.html")
              .image
                img(src='/imgs/transparency.jpg')
              .content
                .name 開放透明
                p.description
                  | 致力推動資訊透明化，關心言論自由、資訊開放，從零思考政府的角色。
          a.item(target="_blank",href="/#{lang}/projects.html")
              .image
                img(src='/imgs/sunflower.png')
              .content
                .name 協作成果
                p.description
                  | 以開源、開放、開幹的協作模式，兩年多來促成許多開放資料開放政府的成果。
          a.item(target="_blank",href="/#{lang}/talk.html")
              .image
                img(src='/imgs/speech.png')
              .content
                .name 近期演講
                p.description
                  | g0v 二十多位講者分享開放協作與開源模式的開放文化基金會社群成果與經驗。


  #index_right_container

      .ui.orange.segment
          .ui.divider
          .videos
              h4(translate="HOME_VIDEOS") 相關影片
              iframe(defer-src="//www.youtube.com/embed/videoseries?list=PLdwQWxpS513Ayb0JJfgbf79i3pgP9vGxG",frameborder="0",allowfullscreen,width="100%")
          .ui.divider
          .g0village
              h4(translate="HOME_ONLINE_GAME") 線上遊戲
              h4: a(class="ui blue small button",href="http://ocf.tw/donate/") 贊助
          .ui.divider
          .google_calendar
              h4(translate="HOME_FACEBOOK_PAGE") fb專頁
          .fb-like-box(data-href='https://www.facebook.com/www.ocf.tw', data-width='240', data-colorscheme='light', data-show-faces='false', data-header='true', data-stream='true', data-show-border='true')
          .ui.divider
          .google_calendar
              h4(translate="HOME_SCHEDULE") 行事曆
              iframe(height="488",target="_blank",defer-src="https://www.google.com/calendar/embed?showTitle=0&showNav=0&showPrint=0&showTabs=0&showCalendars=0&mode=AGENDA&wkst=1&bgcolor=%23FFFFFF&src=cpcf6iv5pt9l6gl2ue3svo63e8%40group.calendar.google.com&color=%23865A5A&ctz=Asia%2FTaipei",frameborder="0",allowfullscreen)


  #index_float_clear
